<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <description>Development
Production</description>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>smoothness</param-value>
    </context-param>
    <filter>
        <filter-name>SecFilter</filter-name>
        <filter-class>resources.SecFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SecFilter</filter-name>
        <url-pattern>/net/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.faces</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>net/emp/index.faces</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>403</error-code>
        <location>/rro/loginErr00403.faces</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/rro/loginErr00404.faces</location>
    </error-page>
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/rro/loginErSession.faces</location>
    </error-page>
    <security-constraint>
        <display-name>admConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>admResource</web-resource-name>
            <description/>
            <url-pattern>/net/adm/*</url-pattern>
            <url-pattern>/net/nt/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admRole</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>rhConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>rhResource</web-resource-name>
            <description/>
            <url-pattern>/net/rh/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>rhRole</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>empConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>empResources</web-resource-name>
            <description/>
            <url-pattern>/index.faces</url-pattern>
            <url-pattern>/indexes.faces</url-pattern>
            <url-pattern>/net/emp/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>emp</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>pguserauth</realm-name>
        <form-login-config>
            <form-login-page>/login.faces</form-login-page>
            <form-error-page>/rro/loginError.faces</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>admRole</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>rhRole</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>emp</role-name>
    </security-role>
</web-app>
